## .NET
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Visual Studio
.vs/
*.csproj.user

## NuGet
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Test results
[Tt]est[Rr]esult*/
*.trx
coverage*/

## OS files
.DS_Store
Thumbs.db

## Secrets
appsettings.Development.json
appsettings.*.local.json
*.pfx
*.key
